-e .

# ======================================================
#             Core dependencies (also listed in setup.py)
# ======================================================

setuptools>=65.0.0

asgiref==3.7.2

Django==4.2.16

PyMySQL==1.1.1

sqlparse==0.5.3

tzdata==2025.2

openpyxl==3.1.5

playwright==1.48.0

Pillow>=10.2.0

python-dotenv==1.0.0