-e .

# ======================================================
#             Core dependencies (also listed in setup.py)
# ======================================================

setuptools>=65.0.0

asgiref==3.9.1

Django==5.2.4

mysqlclient==2.2.7

sqlparse==0.5.3

tzdata==2025.2

openpyxl==3.1.5

playwright==1.48.0

Pillow==10.4.0